#shonan_area {
    padding-top: 5rem;
    padding-bottom: 8rem;
    background-image: url(../images/lp/life_information/shonan_area_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #000000a6;
        z-index: 0;
    }

    .shonan_area__title {
        font-family: $font-noto-serif;
        font-weight: bold;
        font-size: 9rem;
        letter-spacing: 0.1em;
        line-height: 8rem;
        text-align: center;
        position: relative;
        z-index: 2;

        span {
            display: block;
            font-size: 0.5em;
            margin-top: 2rem;
            letter-spacing: 0.1em;

            @include pc() {
                display: inline-block;
            }
        }
    }

    .shonan_area__content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: center;
        position: relative;
        z-index: 2;
        margin-top: 5.0rem;

        p {
            font-size: 2.4rem;
            line-height: 4rem;
            letter-spacing: -0.03em;

            @include pc() {
                font-size: 1.6rem;
            }

            &.percent {
                font-family: $font-noto-serif;
                font-size: 2.6rem;
                line-height: 4.8rem;
                letter-spacing: 0.05em;
                margin-bottom: 2rem;
                margin-top: 5.0rem;

                @include pc() {
                    font-size: 2.4rem;
                    line-height: 4.6rem;
                    letter-spacing: 0.03em;
                }
            }

            &.img {
                margin-bottom: 2rem;

                img {
                    width: 80rem;
                }
            }

            a {
                color: #fff;
                text-decoration: underline;
            }
        }
    }

    @include sp {
        .shonan_area__content {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }

    @include pc {
        padding-bottom: 11.3rem;

        .shonan_area__content {
            margin-top: 5.3rem;

            p {
                letter-spacing: 0;

                &.percent {
                    margin-top: 7.1rem;
                    margin-bottom: 3.6rem;
                }

                &.img {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

#google-map {
    position: relative;
    z-index: 4;
    margin-top: -5.0rem;

    .gmap-iframe {
        height: 50rem;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg, #575858 0%, #575858b3 50%, #59595900 100%);
            height: 1rem;
            z-index: 3;
        }

        iframe {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .address {
        padding-bottom: 1rem;

        .address-txt {
            font-size: 2.4rem;
            text-align: center;
            font-weight: 500;
            line-height: 1.75;
        }
    }

    @include sp {
        .gmap-iframe {
            iframe {}
        }
    }

    @include pc() {
        .gmap-iframe {
            height: 48rem;

        }

        .address {
            .address-txt {
                font-size: 1.6rem;
                text-align: left;
                line-height: 1.875;
            }
        }
    }
}

.outline {
    background-color: #fff;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    color: #000;

    .outline__title {
        text-align: center;
        margin-bottom: 3.68rem;

        img {
            height: 4.688rem;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        span {
            display: block;
            font-size: 2.8rem;
            letter-spacing: 0.2em;
            line-height: 3.36rem;

            @include pc() {
                font-size: 2rem;
            }
        }
    }

    .outline__content {
        width: 100%;
        max-width: 110rem;
        padding-left: 0;
        padding-right: 0;

        p {
            font-size: 2.4rem;
            line-height: 3.6rem;
            letter-spacing: -0.01em;
            margin-bottom: 3.86rem;

            @include pc() {
                font-size: 1.4rem;
                line-height: 2.4rem;
                letter-spacing: 0.025em;
                margin-bottom: 2rem;
            }

            &:first-child {
                font-size: 2.5rem;

                @include pc() {
                    font-size: 1.4rem;
                    margin-bottom: 4.5rem;
                }
            }

            &:last-child {
                text-align: justify;
                margin-bottom: 0;
            }
        }
    }
}

.life-topsecion {
    padding-bottom: 4.5rem;
    padding-top: 9.6rem;
    background-image: url(../images/lp/life_information/life-bg_sp.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: -2rem;


    .life-heading {
        margin-bottom: -17.0rem;

        position: relative;
        z-index: 3;

        .life-ttl {
            position: relative;
            margin-top: -3.0rem;
        }

        .text-heading {
            font-size: 2.7rem;
            line-height: 1.48;
            font-family: 'Noto Serif JP', sans-serif;
            font-weight: 600;
        }
    }

    .life-gallery {

        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;

        .item-big {
            position: relative;
            grid-column: 1/3;
            margin-left: -5rem;
            margin-right: -2.5rem;

            .img {}

            .text {
                font-size: 3.8rem;
                line-height: 1.2;
                font-weight: 500;
                position: absolute;
                right: 2.8rem;
                bottom: 2.6rem;

                span.txt-big {
                    font-size: 5.0rem;
                }
            }
        }

        .item {

            .img {}

            .text {
                font-size: 2.4rem;
                line-height: 1.41;
                font-weight: 500;
                margin-top: 2.36rem;
                text-align: center;

                .txt-num {
                    font-size: 2.8rem;
                    margin: 0 0.4rem;
                }

                .unit-txt {
                    font-size: 2.0rem;
                }
            }
        }
    }

    .list-station-txt {
        margin-top: 5.2rem;

        li {
            text-align: center;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.91;

            .txt-num {
                font-size: 2.8rem;
                margin: 0 0.4rem;
            }

            .unit-txt {
                font-size: 2.0rem;
            }
        }
    }

    @include pc {
        background-image: url(../images/lp/life_information/life-bg.png);
        margin-top: -8rem;
        padding-top: 10.4rem;

        .life-heading {
            margin-bottom: -17.0rem;
            position: relative;
            z-index: 3;

            .life-ttl {
                margin-top: 0;
                max-width: 66.3rem;
                margin-left: -6.5rem;
            }

            .text-heading {
                font-size: 2.4rem;
                letter-spacing: -0.1em;
                line-height: 1.67;
                text-align: right;
                position: absolute;
                right: 0;
                top: 5.5rem;
            }
        }

        .life-gallery {

            grid-template-columns: 1fr 1fr 1fr 1fr;

            .item-big {
                position: relative;
                grid-column: 1/3;
                grid-row: 1/3;
                margin-left: -39.5rem;
                margin-right: 0;

                .img {
                    height: 100%;

                    img {
                        height: 100%;
                        object-fit: cover;
                        object-position: right;
                    }
                }

                .text {
                    right: 2.6rem;
                    bottom: 2.6rem;
                    font-size: 2.0rem;

                    span.txt-big {
                        font-size: 4.0rem;
                    }
                }
            }

            .item {

                .img {}

                .text {
                    font-size: 2.0rem;
                    line-height: 1.5;
                    margin-top: 2.0rem;

                    .txt-num {
                        font-size: 2.4rem;
                    }

                    .unit-txt {
                        font-size: 1.8rem;
                    }
                }
            }
        }

        .list-station-txt {
            margin-top: 7.6rem;
            columns: 2;

            li {
                font-size: 2.0rem;
                line-height: 2;

                .txt-num {
                    font-size: 2.4rem;
                }

                .unit-txt {
                    font-size: 1.8rem;
                }
            }
        }
    }

    @include sp {
        &>.container {
            padding-left: 5rem;
            padding-right: 5rem;
        }

        .life-heading {
            display: flex;
            flex-direction: column-reverse;
        }

        .life-gallery {
            .item {
                .text {
                    letter-spacing: -0.04em;
                }
            }
        }
    }
}