#shonan_area {
  padding-top: 5rem;
  .shonan_area__title {
    font-family: $font-noto-serif;
    font-weight: bold;
    font-size: 9rem;
    letter-spacing: 0.1em;
    line-height: 8rem;
    text-align: center;
    span {
      display: block;
      font-size: 0.5em;
      margin-top: 2rem;
      letter-spacing: 0.1em;
      @include pc() {
        display: inline-block;
      }
    }
  }
  .shonan_area__content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    p {
      font-size: 2.4rem;
      line-height: 4rem;
      margin-bottom: 5rem;
      @include pc() {
        font-size: 1.6rem;
      }
      &.percent {
        font-family: $font-noto-serif;
        font-size: 2.6rem;
        line-height: 4.8rem;
        letter-spacing: 0.05em;
        margin-bottom: 2rem;
        @include pc() {
          font-size: 2.4rem;
          line-height: 4.6rem;
          letter-spacing: 0.03em;
        }
      }
      &.img {
        margin-bottom: 2rem;
        img {
          width: 80rem;
        }
      }
      a {
        color: #fff;
      }
    }
  }
}
#google-map {
  height: 35rem;
  @include pc() {
    height: 48rem;
  }
  iframe {
    height: 100%;
    width: 100%;
  }
}

.outline {
  background-color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: #000;
  .outline__title {
    text-align: center;
    margin-bottom: 3.68rem;
    img {
      height: 4.688rem;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
    span {
      display: block;
      font-size: 2.8rem;
      letter-spacing: 0.2em;
      line-height: 3.36rem;
      @include pc() {
        font-size: 2rem;
      }
    }
  }
  .outline__content {
    width: 100%;
    max-width: 110rem;
    padding-left: 0;
    padding-right: 0;
    p {
      font-size: 2.4rem;
      line-height: 3.6rem;
      letter-spacing: -0.01em;
      margin-bottom: 3.86rem;
      @include pc() {
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.025em;
        margin-bottom: 2rem;
      }
      &:first-child {
        font-size: 2.5rem;
        @include pc() {
          font-size: 1.4rem;
          margin-bottom: 4.5rem;
        }
      }
      &:last-child {
        text-align: justify;
        margin-bottom: 0;
      }
    }
  }
}
