@charset "UTF-8";
@import "variable";

html {
  font-size: 62.5%;
  font-size: calc(10 / 750 * 100vw);
  height: 100%;

  @include pc() {
    font-size: 62.5%;
  }

  @media screen and (min-width: 751px) and (max-width: 1600px) {
    font-size: calc(10 / 1640 * 100vw);
  }
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Noto Sans JP", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ",
    "Meiryo", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
  font-size: 1.6rem;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  position: relative;
}

.animated {
  animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeUp {
  from {
    transform: translateY(10rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeUp {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.sp {
  display: block;

  @include pc() {
    display: none;
  }
}

.pc {
  display: none;

  @include pc() {
    display: block;
  }
}

@include sp() {
  .hidden-sp {
    display: none;
  }
}

@include pc() {
  .hidden-pc {
    display: none;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 123rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

main {
  width: 100%;

  @include pc() {
    min-width: 160rem;
  }
}

#nav-wrap {
  color: #fff;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  transition: 0.3s;

  #btn_close_menu {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      transform: rotate(45deg);
      transform-origin: 0% 50%;
      position: absolute;
      top: calc(14% - 0.5px);
      left: 14%;
    }

    &::after {
      transform: rotate(-45deg);
      transform-origin: 100% 50%;
      left: auto;
      right: 14%;
    }
  }

  .nav-main {
    ul {
      @include pc() {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        @include pc() {
          width: calc(1 / 3 * 100%);
        }

        &:not(:last-child) {
          margin-bottom: 4.2rem;

          @include pc() {
            margin-bottom: 5rem;
          }
        }

        a {
          color: #fff;
          display: block;

          img {
            height: 2.8rem;
            margin-bottom: 1.65rem;

            @include pc() {
              height: 2rem;
              margin-bottom: 0.5rem;
            }
          }

          span {
            display: block;
            font-size: 2.4rem;
            line-height: 2.88rem;
            letter-spacing: 0.025em;

            @include pc() {
              font-size: 1.4rem;
              line-height: 2.4rem;
            }
          }

          &.equipment {
            img {
              height: 4.137rem;

              @include pc() {
                height: 2.896rem;
              }
            }
          }
        }
      }
    }
  }
}

body.nav-open {
  #nav-wrap {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(5px);
  }
}
