@charset "UTF-8";
@import "variable";

.main-heading {
    background-color: #000;

    .main-heading__inner {
        position: relative;
        background-image: url(../images/common/family_image_top.png);
        background-position: center right 165px;
        background-repeat: no-repeat;
        background-size: contain;

        .ta-logo {
            .img {}
        }

        .residence {
            .residence-txt {
                font-weight: bold;

                span {
                    display: block;
                    font-weight: 600;
                }
            }

            .img {}
        }

        .page-ttl {
            text-align: center;

            .en {}

            .ja {}

            span {
                display: block;
            }
        }
    }

    @include pc {
        .main-heading__inner {
            max-width: 1475px;
            margin-inline: auto;

            .ta-logo {}

            .residence {
                position: absolute;
                left: 200px;
                bottom: 34px;

                .residence-txt {
                    font-weight: bold;
                    font-size: 16px;
                    font-family: 'Noto Serif JP', sans-serif;
                    text-align: center;

                    .txt01 {
                        letter-spacing: 0.15em;

                    }

                    span {
                        font-weight: 600;
                        font-size: 13px;
                        letter-spacing: 0.02em;
                    }
                }

                .img {
                    margin-top: 15px;
                }
            }

            .page-ttl {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);

                .en {
                    text-indent: -999em;
                    background: url(../images/contact/contact-ttl.svg) no-repeat center/contain;
                    width: 380px;
                    height: 56px;
                    font-size: 64px;
                    font-weight: 500;
                }

                .ja {
                    font-size: 22px;
                    line-height: 1.86;
                    margin-top: 25px;
                }

            }
        }
    }
}